<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
 <!-- Compiled and minified CSS -->


 <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
 <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"> -->
 <link href="/public/css/materialize.min.css" rel="stylesheet">
 <link href="/public/css/icon.css" rel="stylesheet">
 <link href="/public/css/jquery.dataTables.min.css" rel="stylesheet">
 <link href="/public/css/jquery-ui.min.css" rel="stylesheet">
 <link href="/public/css/jquery-ui-timepicker-addon.css" rel="stylesheet">
 <link href="/public/css/buttons.dataTables.min.css" rel="stylesheet">



 <!-- Compiled and minified JavaScript -->
 <!-- <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> -->
 <script src="/public/js/jquery-3.3.1.js"></script>
 <script src="/public/js/materialize.min.js"></script>
 <script src="/public/js/jquery.dataTables.min.js"></script>
 <script src="/public/js/sweetalert2@8.js"></script>
 <script src="/public/js/jquery-ui.min.js"></script>
 <script src="/public/js/jquery-ui-timepicker-addon.js"></script>
 <script src="/public/js/dataTables.buttons.min.js"></script>
 <script src="/public/js/buttons.print.min.js"></script>
 <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-database.js"></script>
<!-- <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-firestore.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-messaging.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-functions.js"></script>
 


<style>
    body    { padding-top:50px; }
</style>

<script>
    var url = window.location.origin;
</script>
