<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view center-align">
        <div class="background">
        <img id="airport-src" src="/public/images/airport.jpg">
        </div>
        <a href="#user"><img id="plane_logo-src" class="brand-logo" style="width: 96px" src="/public/images/plane_logo.png"></a>
        <a href="#name"><span class="white-text name">NAIA Luggage Dashboard</span></a>
        <a href="#email"><span class="white-text email">DLSU</span></a>
    </div></li>
    <li><a href="/index">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/luggage/register" class="waves-effect">Register Luggage</a></li>
    <li><a href="/passenger/register" class="waves-effect">Register Passenger</a></li>
    <li><a class="waves-effect" href="#!">View Flight Schedules</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader center-align">ADMIN</a></li>
    <li><a class="waves-effect" href="/flight/view">Flights</a></li>
    <li><a class="waves-effect" href="/airplane/view">Airplanes</a></li>
    <li>
        <footer class="footer">
            <div class="container">
                <!-- <a class="grey-text text-lighten-4" href="#!">More Links</a> -->
                <!-- Insert any footer note here. -->
            </div>
    
        </footer>
    </li>
</ul>

<script>
$(document).ready(() => {
    
});
</script>