<!DOCTYPE html>
<html lang="en">
<head>
<% include ../layouts/head %>
</head>
<header>
<% include ../layouts/sidenav %>
</header>
<style>
    .table-container {
        width: 80%;
        margin: 0 auto;
    }
</style>
    <body class="table-container">
        <main>
            <% include ../element/viewLuggageDetails %>

            <div class="" style="margin-left: 10%">

                <a href="/flight/create" class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Add Flight</a>
                <table id="table" class="display" width="100%">
                    <thead>
    
                        <tr>
                            <th>ID</th>
                            <th>Flight Number</th>
                            <th>Plan Start Time</th>
                            <th>Plan End Time</th>
                            <th>Departure Time</th>
                            <th>Arrival Time</th>
                            <th>Airplane Model</th>
                            <th>Passenger Count</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </main>
    





    <footer>
        <% include ../layouts/footer %>
    </footer>
    
    </body>
    
    
    
</html>
<script>
 $(document).ready(() => {
        // let table = $('#table').DataTable();
        populateTable();

    
});

    function populateTable() {
        $.getJSON("/flight",(data) => {
            console.log(data);
            
            table = $('#table').DataTable({
                data : data,
                columns: [
                    { data: "id"},
                    { data: "flight_number" }, 
                    { data: "starttime" },
                    { data: "endtime" },
                    { data: "departure_time" },
                    { data: "arrival_time" },
                    { data: "airplane.name" },
                    { data: "airplane.passenger_capacity" },
                    { 
                        data: "id",
                        render: function(data, type, row, meta) {
                            if (!data) return "";
                            else {
                                return '<center><a href="#" title="Simulate Flight" data-flightId="'+data+'" data-flight_number="'+row.flight_number+'" class="simulateFlight"><i class="material-icons tooltipped">flight_takeoff</i></a>&nbsp;' +
                                '<a href="#modal2" id="viewDetails" title="View Luggage Logs" data-flightId="'+data+'" data-flight_number="'+ row.flight_number+'" class="modal-trigger viewDetails"><i class="material-icons">search</i></a>&nbsp;' +
                                '<a href="/dashboard/'+data+'" class="viewDashboard" id="dashboard-btn" title="View Luggage Dashboard"  data-id="'+data+'"><i class="Medium material-icons">cast</i></a></center>'
                            }
                        }
                    },
                ],
                "columnDefs": [ {
                    "targets": 8,
                    "data" : "id",
                    "render": function (data, type, row) 
                    {
                        return '<center><a href="dashboard/'+data+'" class="viewDashboard" id="dashboard-btn" data-id="'+data+'"><i class="Medium material-icons">cast</i></a></center>'
                    }
                }],
                "initComplete": function(settings, json) {
                    dataTable = $('.luggageDetailsTable').DataTable({})
                    $('.modal').modal();
                    $( document ).tooltip();

                    $('.viewDetails').on('click', function() {
                        const flight_id = $(this).data('flightid');
                        const flight_num = $(this).data('flight_number');
                        $('.luggageDetailsBody').html('');
                        $.get("/luggage/details",{
                            flight_id : flight_id
                        }).done( (json) => {
                            console.log(json);
                            dataTable.destroy();
                            dataTable = $('.luggageDetailsTable').DataTable({
                                data: json.data,
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        autoPrint: false,
                                        extend: 'print',
                                        title: '',
                                        messageTop: 'Luggage Logs:',
                                        customize: function (win) {
                                            $(win.document.body)
                                            .prepend('<center><h5>Luggage Report Summary for: <strong></br>'+ flight_num +'</strong></h5></center>'+
                                                    'Date:' +  '</br> '+
                                                    'Total Arrived:' + ' </br>' +
                                                    'Total Delayed:' + ' </br>'   
                                            );
                                        }
                                    }
                                ],
                                columns: [
                                    { data: 'name'},
                                    { data: 'arrival_time'},
                                    { data: 'departure_time'},
                                ]
                            }) // ===== END OF DATATABLES
                        })
                    });

                    $('.simulateFlight').on('click', function() {
                        const flight_id = $(this).data('flightid');
                        $.post('/flight/simulateFlight', {
                            flight_id : flight_id
                        }, function(json) {
                            if (json.result) {
                                location.reload();
                            }
                        });
                    });
                }
            })

            $('#trySubmit').on('click',()=>{
                table.draw();
            })
        })
    }
</script>