<!DOCTYPE html>
<html lang="en">
<head>
<% include ../layouts/head %>
</head>
<header>
<% include ../layouts/sidenav %>
</header>

    
    <body class="container">
        <main>
            <div class="container">

                <a href="/airplane/create" class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Add Airplane</a>
                <table id="table" class="display" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Passenger Capacity</th>
                            <th>Airplane Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </main>
    





    <footer>
        <% include ../layouts/footer %>
    </footer>
    
    </body>
    
    
    
    </html>
<script>
    $(document).ready(() => {
        // let table = $('#table').DataTable();
        populateTable();

        
        
 
    });

    function populateTable() {
        $.getJSON("/airplane",(data) => {
            console.log(data);
            
            table = $('#table').DataTable({
                data : data.airplane,
                columns: [
                    { data: "name" }, 
                    { data: "passenger_capacity" },
                    { data: "airplane_type" },
                ],
                "columnDefs": [ {
                    "targets": 3,
                    "data" : "id",
                    "render": function ( data, type, row ) 
                    {
                        return '<a href="create/'+data+'" class="update" id="update-btn" data-id="'+data+'"><i class="material-icons">create</i></a> ' +
                               '<a href="#" onclick="deleteAirplane('+data+')" class="delete-btn" id="delete-btn" data-id="'+data+'" style="padding-left: 5px"><i class="material-icons">delete</i></a>';
                    }
                }],
                "initComplete" : function(settings, json) {
                    deleteAirplane = (id) => {
                        Swal.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            $.get("delete/"+id,function(data) {
                                // console.log(data);
                            });
                            if (result.value) {
                                Swal.fire(
                                    'Deleted!',
                                    'Your data has been deleted.',
                                    'success'
                                )
                                table.destroy();
                                populateTable();
                            }
                        })
                    }
                }
            })

            $('#trySubmit').on('click',()=>{
                table.draw();
            })
        })
    }

    /* deleteAirplane = (id) => {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            $.get("delete/"+id,function(data) {
                // console.log(data);
            });
            if (result.value) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
                table.destroy();
                populateTable();
            }
        })
    } */
    
</script>