<!-- views/pages/index.ejs -->
<style>

    </style>
    <!DOCTYPE html>
    <html lang="en">
    <head>
    <% include ../layouts/head %>
    </head>
    <header>
    <% include ../layouts/sidenav %>
    </header>
    
        
    <body class="container">
    <main>
        <div class="jumbotron container">
                <h1><center><strong>ABOUT US</strong></center></h1>
                <h3>
                    <p>Welcome! This is a sample about us page, you put certain descriptions about your project or your objective etc.
                        </p>
                </h3>
            </div>
    </main>
    
    <footer>
    <% include ../layouts/footer %>
    </footer>
    
    </body>
    
    
    
    </html>