 <!-- Modal Structure -->
 <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Choose Available Airplane</h4>
            <table class="availableAirplaneTable">
                <thead>
                        <th>Airplane Model</th>
                        <th>Passenger Capacity</th>
                        <th>Plane Type</th>
                </thead>
                <tbody>
                        
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
        </div>
    </div>