 <!-- Modal Structure -->
 <div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Luggage Details</h4>
        <h6>
            <span class="totalArrived">Total Arrived:</span> </br></br>
            
            <span class="totalDelayed">Total Delayed:</span>
        </h6></br>
        <table class="luggageDetailsTable striped highlight" style="width:100%">
            <thead>
                <th>Owner</th>
                <th>Time Arrived</th>
                <th>Time Picked Up</th>
            </thead>
            <tbody class="luggageDetailsBody">
                    
            </tbody>
        </table>
        
    </div>
    <div class="modal-footer">
    </div>
</div>